/target/
.idea/
.settings
.project
.classpath
.eclipse/

*.iml
.DS_Store

# The following files are generated/updated by vaadin-maven-plugin
node_modules/
frontend/generated/
pnpmfile.js
vite.generated.ts
webpack.generated.js
/src/main/frontend/generated
tsconfig.json
types.d.ts
/src/main/bundles
package.json
package-lock.json
/.vaadin

# Attachments uploaded while trying the demo
/files
